.page {
  padding: 10px;
}

// 主内容区
.main {
  min-height: 100vh;
}

// 页脚
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  padding: 20px 0;
}
